#!/bin/bash
#
# Title:      PTS - Plex Auto Scan - PLEX
# Authors:    l3uddz
# URL:        https://github.com/l3uddz/plex_autoscan
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description='Plex Autoscan'
After=multi-user.target network-online.target

[Service]
User=0
Group=0
Type=simple
WorkingDirectory=/opt/plex_autoscan/
ExecStart=/opt/plex_autoscan/scan.py server --loglevel=INFO
Restart=always
RestartSec=10

[Install]
WantedBy=default.target