{
  "core": {
    "debug": false
  },
  "automatic": {
    "movies": {
      "anticipated": 3,
      "boxoffice": 10,
      "interval": 24,
      "popular": 3,
      "trending": 2
    },
    "shows": {
      "anticipated": 10,
      "interval": 48,
      "popular": 1,
      "trending": 2
    }
  },
  "notifications": {
    "verbose": false
  },
  "filters": {
    "movies": {
      "allowed_countries": [
        "us",
        "gb",
        "ca"
      ],
      "allowed_languages": [],
      "blacklisted_genres": [
        "fan-film",
        "short",
        "sporting-event",
        "tv-movie"
      ],
      "blacklisted_min_runtime": 30,
      "blacklisted_max_runtime": 0,
      "blacklisted_max_year": {{maxyear.stdout}},
      "blacklisted_min_year": {{minyear.stdout}},
      "blacklisted_tmdb_ids": [],
      "blacklisted_title_keywords": [
        "untitled",
        "barbie",
        "ufc"
      ],
      "disabled_for": []
    },
    "shows": {
      "allowed_countries": [
        "us",
        "gb",
        "ca"
      ],
      "allowed_languages": [],
      "blacklisted_min_runtime": 15,
      "blacklisted_max_runtime": 0,
      "blacklisted_min_year": {{minyear.stdout}},
      "blacklisted_max_year": {{maxyear.stdout}},
      "blacklisted_genres": [
        "news",
        "special-interest"
      ],
      "blacklisted_networks": [
        "twitch"
      ],
      "blacklisted_title_keywords": [
        "wwe",
        "wwf"
      ],
      "blacklisted_tvdb_ids": [],
      "disabled_for": []
    }
  },
  "radarr": {
    "api_key": "{{rapi.stdout}}",
    "minimum_availability": "{{minimumavailability.stdout}}",
    "quality": "{{rprofile.stdout}}",
    "root_folder": "{{rpath.stdout}}",
    "url": "http://localhost:7878/"
  },
  "sonarr": {
    "api_key": "{{sapi.stdout}}",
    "language": "{{lang.stdout}}",
    "quality": "{{sprofile.stdout}}",
    "root_folder":"{{spath.stdout}}",
    "url": "http://localhost:8989/",
    "tags": {}
  },
  "trakt": {
    "client_id": "{{client.stdout}}",
    "client_secret": "{{secret.stdout}}"
  },
  "omdb": {
    "api_key": ""
  }
}