# /etc/systemd/system/plex_autoscan.service
#########################################################################
# Title:         Cloudbox: Plex Autoscan Service                        # 
# MOD:           MrDoobPG                                               #
# Author(s):     l3uddz                                                 #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=traktarr
After=network-online.target docker.service

[Service]
User=0
Group=0
Type=simple
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
WorkingDirectory=/opt/appdata/traktarr/
TimeoutStartSec=900
ExecStart=/usr/bin/python3 /opt/appdata/traktarr/traktarr.py run
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
